**/.classpath
**/.dockerignore
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/compose*
**/docker-compose*
**/Dockerfile*
**/node_modules
**/.env
**/.git*
**random*
client/src/config.js
./config.js
postgres/
tests/
coverage/